<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--
      扫描 controller层注解
    -->
    <context:component-scan base-package="com.itheima.controller"/>

    <!--
      配置 视图解析器
         就是根据 路径 找到页面完成页面初始化！！
    -->
    <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--
          配置 视图路径的前缀
        -->
        <property name="prefix" value="/WEB-INF/"></property>
        <!--
          配置 视图路径的后缀
        -->
        <property name="suffix" value=".jsp"></property>
    </bean>

    <!--
       自动注册最优最合适 处理器适配 和 处理器映射器
    -->
    <mvc:annotation-driven/>
</beans>