<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--
      需要将  静态工厂  里面的对象   存到 IOC容器中
    -->
    <!--<bean id="account" class="com.itheima.factory.StaticFactory" factory-method="getAccount"></bean>-->

    <!--
      需要将  非静态工厂  里面的对象   存到 IOC容器中
    -->
    <bean id="instanceFactory" class="com.itheima.factory.InstanceFactory"></bean>
    <bean id="account" factory-bean="instanceFactory" factory-method="getAccount"></bean>
</beans>