<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.itheima.service"></context:component-scan>
    <bean id="logUtil" class="com.itheima.log.LogUtil"></bean>

    <aop:config>
        <aop:aspect id="logAspect" ref="logUtil">
            <aop:pointcut id="pt" expression="execution( * com..service.*.*(..))"/>
            <!--            <aop:before method="beforeMethod" pointcut-ref="pt"></aop:before>-->
            <aop:around method="aroundMethod" pointcut-ref="pt"></aop:around>
        </aop:aspect>
    </aop:config>
</beans>